.App {
  padding: 2rem;
}

.SearchPanel {
  max-width: 1024px;
  margin: 0 auto;
}

.SP__controls {
  height: 2rem;
}

.SP__inputs__error {
  color: red;
  font-size: 0.75rem;
  padding-bottom: 0.1rem;
}

.SP__inputs__searchBar {
  display: flex;
}

.SP__inputs__textInput {
  height: 2rem;
  padding-left: 1rem;
  letter-spacing: 0.1rem;
  flex: 9 1 80%;
}

.SP__inputs__textInput:focus {
  box-shadow: none;
  outline: none;
}

.SP__inputs__textInput__error {
  border: 1px solid red;
}

input[type='submit'] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0.7rem 1.25rem;
  text-decoration: none;
  cursor: pointer;
}

.SP__chart {
  padding-top: 2rem;
  font-size: 0.75rem;
}

.SP__chartLabel {
  padding-top: 2.5rem;
  text-align: center;
  letter-spacing: 0.25rem;
  /* text-decoration: underline; */
  font-size: 1.75rem;
}
